In [279]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFECV
import seaborn as sns

In [280]:
df = pd.read_csv('../../data/zingat_ist_preprocessed.csv')
reg = df.drop(['Unnamed: 0',"il","ilce","mahalle","oda_sayisi"], axis = 1)

In [289]:
X = reg.drop(["fiyat"],axis=1)
y = reg["fiyat"].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)

In [290]:
rfr_reg =  RandomForestRegressor()
rfr_reg.fit(X_train,y_train)
rfr_reg.score(X_test, y_test)

0.5422776365141417

In [291]:
rfr_reg_full =  RandomForestRegressor()
rfr_reg_full.fit(X,y)
rfr_reg_full.score(X_test, y_test)

0.9319759653116239

In [292]:
y_pred = rfr_reg.predict(X_test)

In [293]:
y_pred_full = rfr_reg_full.predict(X_test)

In [294]:
y_pred.mean()

2145069.038330561

In [295]:
y_pred_full.mean()

2161527.8065413465

In [296]:
y_test.mean()

2166347.2487562187

In [297]:
fiyatlar = {"actual":y_test,"predicted":y_pred,"predicted2":y_pred_full,}

In [298]:
aa = pd.DataFrame(fiyatlar)

In [299]:
aa

       actual  predicted  predicted2
0     1200000  1848388.0  1475079.99
1     1850000  1832740.0  2051500.00
2     1700000  1931100.0  1767500.00
3      615000   746650.0   622700.00
4     1390000  2155300.0  1788250.00
...       ...        ...         ...
2206  1800000  2428450.0  1981150.00
2207  2100000  2612800.0  2412300.00
2208  1597000  1545187.5  1588590.00
2209  6600000  5050750.0  6012500.00
2210  5350000  3360300.0  4590550.00

[2211 rows x 3 columns]