In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/zingat_preprocessed.csv')
df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [3]:
df

,net_alan,brut_alan,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,kredi_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,100,110,7,2,3,28,0,0,0,1350000,İstanbul,Bağcılar,Çınar,2 + 1,3,41.034547,28.856756
1,80,95,15,2,15,3,0,0,1,2975000,İstanbul,Bağcılar,Göztepe,2 + 1,3,41.034547,28.856756
2,110,115,5,1,1,28,0,0,0,1100000,İstanbul,Bağcılar,100. Yıl,3 + 1,4,41.034547,28.856756
3,75,135,15,3,3,0,0,0,0,2970000,İstanbul,Bağcılar,Fevzi Çakmak,2 + 1,3,41.034547,28.856756
4,85,105,10,2,1,8,2,2,1,2500000,İstanbul,Bağcılar,Kirazlı,2 + 1,3,41.034547,28.856756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,220,240,5,2,5,0,1,0,1,4170000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),4 + 2,6,41.465204,32.113475
23030,125,135,4,2,2,0,0,0,1,1275000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),3 + 1,4,41.465204,32.113475
23031,95,110,4,2,0,0,0,0,1,1285000,Zonguldak,Çaycuma,Pehlivanlar,2 + 1,3,41.465204,32.113475
23032,65,85,4,2,1,4,2,1,1,975000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),1 + 1,2,41.465204,32.113475
23033,90,110,4,2,1,8,0,2,1,935000,Zonguldak,Çaycuma,Çay,2 + 1,3,41.465204,32.113475

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
fiyat = df.iloc[:,9:10]

sol = df.iloc[:,:9]
sag = df.iloc[:,10:]

In [6]:
sol.drop(['isitma','esya','kullanim_durumu'], axis=1, inplace = True)
sol

       net_alan  brut_alan  kat_sayisi  bulundugu_kat  bina_yasi  kredi_durumu
0           100        110           7              3         28             0
1            80         95          15             15          3             1
2           110        115           5              1         28             0
3            75        135          15              3          0             0
4            85        105          10              1          8             1
...         ...        ...         ...            ...        ...           ...
23029       220        240           5              5          0             1
23030       125        135           4              2          0             1
23031        95        110           4              0          0             1
23032        65         85           4              1          4             1
23033        90        110           4              1          8             1

[23034 rows x 6 columns]

In [7]:
sag.drop(['il','ilce','mahalle','oda_sayisi'], axis=1, inplace = True)
sag

       toplam_oda_sayisi        lat        lng
0                      3  41.034547  28.856756
1                      3  41.034547  28.856756
2                      4  41.034547  28.856756
3                      3  41.034547  28.856756
4                      3  41.034547  28.856756
...                  ...        ...        ...
23029                  6  41.465204  32.113475
23030                  4  41.465204  32.113475
23031                  3  41.465204  32.113475
23032                  2  41.465204  32.113475
23033                  3  41.465204  32.113475

[23034 rows x 3 columns]

In [8]:
veri = pd.concat([sol,sag],axis=1)
veri

,net_alan,brut_alan,kat_sayisi,bulundugu_kat,bina_yasi,kredi_durumu,toplam_oda_sayisi,lat,lng
0,100,110,7,3,28,0,3,41.034547,28.856756
1,80,95,15,15,3,1,3,41.034547,28.856756
2,110,115,5,1,28,0,4,41.034547,28.856756
3,75,135,15,3,0,0,3,41.034547,28.856756
4,85,105,10,1,8,1,3,41.034547,28.856756
...,...,...,...,...,...,...,...,...,...
23029,220,240,5,5,0,1,6,41.465204,32.113475
23030,125,135,4,2,0,1,4,41.465204,32.113475
23031,95,110,4,0,0,1,3,41.465204,32.113475
23032,65,85,4,1,4,1,2,41.465204,32.113475
23033,90,110,4,1,8,1,3,41.465204,32.113475

In [9]:
x_train, x_test, y_train, y_test = train_test_split(veri, fiyat, test_size = 0.33, random_state=0)

regressor = LinearRegression()
regressor.fit(x_train,y_train)

y_pred = regressor.predict(x_test)

In [10]:
y_pred, fiyat

(array([[2518838.31573172],
        [1663276.22494863],
        [1127236.98186464],
        ...,
        [ 963910.16430306],
        [2099554.66670937],
        [1833515.78867397]]),
          fiyat
 0      1350000
 1      2975000
 2      1100000
 3      2970000
 4      2500000
 ...        ...
 23029  4170000
 23030  1275000
 23031  1285000
 23032   975000
 23033   935000

 [23034 rows x 1 columns])