In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('../data/zingat_preprocessed.csv')
df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [25]:
df

,net_alan,brut_alan,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,kredi_durumu,fiyat,il,ilce,mahalle,oda_sayisi,toplam_oda_sayisi,lat,lng
0,100,110,7,2,3,28,0,0,0,1350000,İstanbul,Bağcılar,Çınar,2 + 1,3,41.034547,28.856756
1,80,95,15,2,15,3,0,0,1,2975000,İstanbul,Bağcılar,Göztepe,2 + 1,3,41.034547,28.856756
2,110,115,5,1,1,28,0,0,0,1100000,İstanbul,Bağcılar,100. Yıl,3 + 1,4,41.034547,28.856756
3,75,135,15,3,3,0,0,0,0,2970000,İstanbul,Bağcılar,Fevzi Çakmak,2 + 1,3,41.034547,28.856756
4,85,105,10,2,1,8,2,2,1,2500000,İstanbul,Bağcılar,Kirazlı,2 + 1,3,41.034547,28.856756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,220,240,5,2,5,0,1,0,1,4170000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),4 + 2,6,41.465204,32.113475
23030,125,135,4,2,2,0,0,0,1,1275000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),3 + 1,4,41.465204,32.113475
23031,95,110,4,2,0,0,0,0,1,1285000,Zonguldak,Çaycuma,Pehlivanlar,2 + 1,3,41.465204,32.113475
23032,65,85,4,2,1,4,2,1,1,975000,Zonguldak,Çaycuma,Filyos Bld. (Hisarönü),1 + 1,2,41.465204,32.113475
23033,90,110,4,2,1,8,0,2,1,935000,Zonguldak,Çaycuma,Çay,2 + 1,3,41.465204,32.113475

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [27]:
fiyat = df.iloc[:,9:10]

sol = df.iloc[:,:9]
sag = df.iloc[:,10:]

In [28]:
sol.drop(['brut_alan','isitma','esya','kullanim_durumu','kredi_durumu'], axis=1, inplace = True)
sol

       net_alan  kat_sayisi  bulundugu_kat  bina_yasi
0           100           7              3         28
1            80          15             15          3
2           110           5              1         28
3            75          15              3          0
4            85          10              1          8
...         ...         ...            ...        ...
23029       220           5              5          0
23030       125           4              2          0
23031        95           4              0          0
23032        65           4              1          4
23033        90           4              1          8

[23034 rows x 4 columns]

In [29]:
sag.drop(['il','ilce','mahalle','oda_sayisi','lat','lng'], axis=1, inplace = True)
sag

       toplam_oda_sayisi
0                      3
1                      3
2                      4
3                      3
4                      3
...                  ...
23029                  6
23030                  4
23031                  3
23032                  2
23033                  3

[23034 rows x 1 columns]

In [30]:
veri = pd.concat([sol,sag],axis=1)
veri

       net_alan  kat_sayisi  bulundugu_kat  bina_yasi  toplam_oda_sayisi
0           100           7              3         28                  3
1            80          15             15          3                  3
2           110           5              1         28                  4
3            75          15              3          0                  3
4            85          10              1          8                  3
...         ...         ...            ...        ...                ...
23029       220           5              5          0                  6
23030       125           4              2          0                  4
23031        95           4              0          0                  3
23032        65           4              1          4                  2
23033        90           4              1          8                  3

[23034 rows x 5 columns]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(veri, fiyat, test_size = 0.33, random_state=0)

regressor = LinearRegression()
regressor.fit(x_train,y_train)

y_pred = regressor.predict(x_test)

In [32]:
fiyat

         fiyat
0      1350000
1      2975000
2      1100000
3      2970000
4      2500000
...        ...
23029  4170000
23030  1275000
23031  1285000
23032   975000
23033   935000

[23034 rows x 1 columns]

In [35]:
y_pred

AttributeError: 'numpy.ndarray' object has no attribute 'type'

In [34]:
sonuc = pd.DataFrame()
for i in y_pred:
    sonuc.append(y_pred[i])

TypeError: 'numpy.ndarray' object is not callable

In [ ]:
sonuc = pd.concat([fiyat,y_pred],axis=1)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid