In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler,PolynomialFeatures

In [2]:
df = pd.read_csv('../data/zingat_preprocessed.csv')
df.drop(['Unnamed: 0',"il","ilce","mahalle","oda_sayisi"], axis = 1,inplace=True)

In [3]:
df

,net_alan,brut_alan,kat_sayisi,isitma,bulundugu_kat,bina_yasi,esya,kullanim_durumu,kredi_durumu,fiyat,toplam_oda_sayisi,lat,lng
0,100,110,7,2,3,28,0,0,0,1350000,3,41.034547,28.856756
1,80,95,15,2,15,3,0,0,1,2975000,3,41.034547,28.856756
2,110,115,5,1,1,28,0,0,0,1100000,4,41.034547,28.856756
3,75,135,15,3,3,0,0,0,0,2970000,3,41.034547,28.856756
4,85,105,10,2,1,8,2,2,1,2500000,3,41.034547,28.856756
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23029,220,240,5,2,5,0,1,0,1,4170000,6,41.465204,32.113475
23030,125,135,4,2,2,0,0,0,1,1275000,4,41.465204,32.113475
23031,95,110,4,2,0,0,0,0,1,1285000,3,41.465204,32.113475
23032,65,85,4,2,1,4,2,1,1,975000,2,41.465204,32.113475
23033,90,110,4,2,1,8,0,2,1,935000,3,41.465204,32.113475

REGRESYON

In [4]:
X = df.drop(["fiyat"],axis=1)
y = df["fiyat"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

sc=StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.fit_transform(X_test)
y_train_scaled = np.ravel(sc.fit_transform(y_train.reshape(-1,1)))
y_test_scaled = np.ravel(sc.fit_transform(y_test.reshape(-1,1)))

In [5]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

r_squared_lin = lin_reg.score(X_test, y_test)

In [6]:

svr_reg = SVR(kernel='rbf')
svr_reg.fit(X_train_scaled,y_train_scaled)

r_squared_svr = svr_reg.score(X_test_scaled, y_test_scaled)

In [7]:
dt_reg =  DecisionTreeRegressor()
dt_reg.fit(X_train,y_train)

r_squared_dt = dt_reg.score(X_test, y_test)

In [8]:
rfr_reg =  RandomForestRegressor()
rfr_reg.fit(X_train,y_train)

r_squared_rfr = rfr_reg.score(X_test, y_test)

In [12]:
print(f"linear r2 = {r_squared_lin}\nsupport vector r2 = {r_squared_svr}\ndecision tree r2 = {r_squared_dt}\nrandom forest r2 = {r_squared_rfr}")

linear r2 = 0.2772786760759596
support vector r2 = 0.39096007287661927
decision tree r2 = 0.34238717866308443
random forest r2 = 0.6620722030779977

SINIFLANDIRMA